<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194732532548-71uue66aqqa9oricnea0krrs1jtilgt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194732532548-71uue66aqqa9oricnea0krrs1jtilgt8</string>
	<key>API_KEY</key>
	<string>AIzaSyAtYLUXez449zrC9fPFnk49nEdtj_yh66g</string>
	<key>GCM_SENDER_ID</key>
	<string>194732532548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWhatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-84c61</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-84c61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194732532548:ios:040b1953a6c514b117ed11</string>
</dict>
</plist>